.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/
android/.gradle/
android/local.properties
android/key.properties
ios/Pods/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
macos/Flutter/ephemeral/
linux/flutter/ephemeral/
windows/flutter/ephemeral/

*.iml
.idea/
.vscode/

# Local Firebase and API credentials
android/app/google-services*.json
ios/**/GoogleService-Info.plist
lib/firebase_options.dart
